:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /*font-family: "Noto Sans JP", "Noto Sans CJK JP", sans-serif;*/
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

.container {
  margin: 0;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* タブメニュー */
.tab-menu {
  display: flex;
  border-bottom: 2px solid #ccc;
  background: #f5f5f5;
  align-items: center;
}

.tab-menu button {
  all: unset;
  padding: 10px 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.tab-menu button.active {
  border-bottom: 3px solid #396cd8;
  font-weight: bold;
  color: #396cd8;
}

/* 表の設定 */
table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #0f0f0f;
  ;
}

th,
td {
  padding: 8px;
  text-align: left;
}